<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        {% if current_user.is_authenticated %}
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/list_item">Список файлов</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/list_item">Публичная ссылка</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/logout">Выйти</a>
        {% else %}
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/login">Войти</a>
            <a class="py-2 link-body-emphasis text-decoration-none" href="/register">Зарегестироваться</a>
        {% endif %}
    </nav>
</div>
